@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
 .header a {
     float: right;
}
 .body {
     position: relative;
}
 .footer {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     margin-top: 2em;
}
 .footer .btn--round-invert {
     margin-right: 10px;
}
 .form-control {
     display: block;
     width: 100%;
     margin: 5px 0;
}
 .fieldErrors {
     margin-top: 10px;
}
 .fieldErrors li {
     margin-bottom: 5px;
     font-size: 16px;
}
 .fieldErrors li i {
     font-size: 18px;
     vertical-align: middle;
}
 .owner-info, .answer{
     padding-top: 3%;
}
 .question {
     padding-top: 1%;
}
 .add-manager-cont{
     padding-top: 7%;
}
 .owner-info-second {
     padding-top: 5%;
}
 .text-success {
     color: green;
}
 .text-danger {
     color: red;
}
 .add-manager-fields {
     display:flex;
}
 .add-manager-fields {
     padding-top: 1%;
}
 .manager-fn-cont {
     padding: 1%;
}
 .greeting-fields, .greeting-fields-req{
     padding-top: 2%;
}
 .manager-ln-cont {
     padding: 1%;
}
 .contact-cont {
     padding-top: 3%;
}
 .warning{
     padding-top: 3%;
}


select {
		width: 40% !important;
		border-bottom: 3px solid black;
}
