@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
 .header a {
     float: right;
}
 .body {
     position: relative;
}
 .footer {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     margin-top: 2em;
}
 .footer .btn--round-invert {
     margin-right: 10px;
}
 .form-control {
     display: block;
     width: 100%;
     margin: 5px 0;
}
 .fieldErrors {
     margin-top: 10px;
}
 .fieldErrors li {
     margin-bottom: 5px;
     font-size: 16px;
}
 .fieldErrors li i {
     font-size: 18px;
     vertical-align: middle;
}
 .owner-info, .answer{
     padding-top: 3%;
}
 .question {
     padding-left: 0% !important;
}
 .add-manager-cont{
     padding-top: 7%;
}
 .owner-info-second {
     padding-top: 5%;
}
.manager-name {
    padding-bottom: 10px; 
}

 .text-success {
     color: green;
}
 .text-danger {
     color: red;
}
 .add-manager-fields {
     display:flex;
}
 .add-manager-fields {
     padding-top: 1%;
}
 .manager-fn-cont {
     padding: 1%;
}
 .greeting-fields, .greeting-fields-req{
     padding-top: 2%;
}
 .manager-ln-cont {
     padding: 1%;
}
 .contact-cont {
     padding-top: 3%;
}
 .warning{
     padding-top: 3%;
}

.undo-message-cont{
  display:inline-flex;
}

.undo-message {
  padding-left: 1%;
}

.p-t-7 {
  padding: 7px 0 0 0;
}

.transferofService-cont {
    display: flex;
    justify-content: center;
}

.request-cont {
  margin-top: 7%;
}

select {
		width: 40% !important;
		border-bottom: 3px solid black;
}

.request-header {
    margin-top: 4%;
}

.seperator{
  height: 1px;
  margin-top: 4%;
  background-color: grey;
  opacity: 0.3;
}

.disabled-button {
  border: 1px solid #c5c4c4 !important;
  background-color: #c5c4c4 !important;
}

.max-account-managers-message {
  margin-top: 6%;
    width: 60%;
}

.request-sent-close-cont{
  float: right;
}

.flex {
  display: flex;
}
.cancel-cont {
  padding-right: 5%;
}

.revoke-popup-heading {
  font-size: 40px;
}

.revoke-popup-seperator {
  height: 2px;
  background: #b6b6b6;
  margin: 5% 0 3% 0;
}

.revoke-popup-body {
  padding-bottom: 5%;
}

.account-manager-request-heading{
  padding: 5% 0 5% 0;
}

.account-manager-request-pending{
  padding: 5% 0 5% 0;
}
