.vz-odt--nav--login {
    font-size: .875rem;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: .875rem;
}

.vz-odt--nav--login--language {
    font-family: "NeueHaasGroteskDisplay", Arial, Helvetica, sans-serif;
}

.vz-odt--nav--login--user {
    margin-left: .875rem;
    font-family: "NeueHaasGroteskDisplayBold", Arial, Helvetica, sans-serif;
}